.blink-style {
    background: rgb(0, 0, 0);
   }

   a{
    text-align: center;
    font-family: Verdana;
    color: #ffc310;
    animation: blink-text 1.9s linear infinite;
    font-size: 6em;
   }

   @keyframes blink-text{
    0% {
     opacity: 0;
    }
    50% {
     opacity: 1;
    }
    100% {
     opacity: 0;
    }
}