
body{
background: url(../images/png-transparent-medieval-european-border-background-gradient-color-european-style-complicated-thumbnail.png);
background-size: cover;
height: 100px;
image-rendering: optimizeQuality;
text-align: center;
padding-top: 20em;
padding-right: 2em;
}

/*adding custom font*/


@font-face {
    font-family: 'Becker';
    src: url(..//Fonts/Becker.ttf);
  }

  
   a{
    text-align: center;
    text-decoration: none;
    font-family: Becker;
    color: black;
    animation: blink-text 1.9s linear infinite;
    font-size: 2em;
   }

   @keyframes blink-text{
    0% {
     opacity: 0;
    }
    50% {
     opacity: 1;
    }
    100% {
     opacity: 0;
    }
}